// Eww colors for Cynthia rice
$bg: #1f2329;
$bg-alt: #23272e;
$fg: #b8bfe5;
$black: #b3b3b3;
$lightblack: #262831;
$red: #735771;
$blue: #465b80;
$cyan: #385a73;
$magenta: #533969;
$green: #3f6566;
$yellow: #807476;
$archicon: #0f94d2;
